<%= stylesheet_link_tag 'book'%>
<%= javascript_include_tag 'jquery.isotope.min' %>
<div id="page" class="blue">
	<div id="wrapper" class="corner clearfix">
		<div>
			&nbsp;
		</div>
		<div class="imagewall_sort" style="height:40px;padding-bottom:20px;">

			<div class="is_go_home">
				<%= image_tag "book_home.png", :class=>"fl" %>
				<a href="/u/<%= @user[:_id] %>" class="go_go">去TA的家看看</a>
			</div>
			<div class="fl" style="margin-left:20px;-padding-top:30px;">
				<a>排序：</a>
				<a href="/book/u/1j2ri/1/pop" class="c">潮流</a>
				<a href="/book/u/1j2ri/1/enjoy">最热</a>
				<a href="/book/u/1j2ri/1/new">最新</a>
			</div>
		</div>
		<%= render 'book' %>

		<div class="clear">
			&nbsp;&nbsp;&nbsp;&nbsp;
		</div>
	</div>
</div>