<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>网站</title>
    <%= stylesheet_link_tag 'global','login'%>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
    <%= javascript_include_tag :defaults, 'jquery.form', 'jquery.tools','jquery.lazyload.pack' %>
    <%= csrf_meta_tag %>
    <!--[if lte IE 8]>
    <%= stylesheet_link_tag 'login_iefix' %>
	<![endif]-->

  </head>
  <body>
    <!-- 右上角的状态显示 -->
    <div id="web_loading">Loading...</div>
    <div id="n_header">
      <!--usr-->
      <div id="n_header_line">
        <div class="n_header_inner"> <a title="虾米音乐网(xiami.com) - 高品质音乐 发现 分享" href="/" class="logo">虾米音乐网(xiami.com) - 高品质音乐 发现 分享</a>
          <div id="n_header_user">
            <% if user_signed_in? %>
              <div class="n_header_user_loged">
                <dl>
                  <dt>
                    <span><a href="/u/<%= current_user[:_id] %>"> <%= image_tag avatar(current_user,:s),:width=>"22", :height=>22 %> <strong><%= current_user[:name] %></strong></a><b></b></span></dt>
                  <dd>
                    <ul>
                      <li><a href="/u/<%= current_user[:_id] %>">个人主页</a></li>
                      <% if current_user[:role] == 88 %><li><a href="/admin">后台管理</a></li><% end %>
                      <li><a href="/space/following/u/<%= current_user[:id] %>">关注/粉丝</a></li>
                      <li><a href="/property/myproperties">我的道具</a></li>
                      <li><a href="/account">帐户</a></li>
                      <li><a href="/share">设置</a></li>
                      <li><%= link_to '退出', destroy_user_session_path %></li>
                    </ul>
                  </dd>
                </dl>
              </div>
            <% else %>
              <div class="n_header_user_unlog">
                <%= link_to '免费注册', new_user_registration_path, :class=>'ti' %><span>|</span><%= link_to '登录', new_user_session_path, :class=>'ti', :title=>'登录' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>


      <!--sys-->
      <div class="n_header_sys clearfix">
        <div id="n_header_channel">
          <ul class="clearfix">
            <li id="nh_home"><a title="首页" href="/" class="cname">首页</a></li>
            <li class="nh_sys_menu" id="nh_gall"><a title="" href="/gall" class="cname">购物分享</a><span><a title="" href="javascript:;" class="show_nhsysMenu">显示菜单</a></span>
              <div style="display: none;" class="nhsys_menu">
                <div class="nhsys_menu_inner"> <a title="排行榜" href="/music/hot">排行榜</a> <a title="音乐风格" href="/music/style">音乐风格</a> <a title="分类试听" href="/music/category">分类试听</a> <a title="新碟" href="/music/newalbum">新碟</a> <a title="虾米猜" href="/artist/recommended">虾米猜</a> <a title="专题" href="/events">专题</a> </div>
              </div>
            </li>
            <li class="nh_sys_menu" id="nh_book"><a title="" href="/book" class="cname">画报</a><span><a title="" href="javascript:;" class="show_nhsysMenu">显示菜单</a></span>
              <div style="display: none;" class="nhsys_menu">
                <div class="nhsys_menu_inner"> <a title="概览" href="/collect">概览</a> <a title="原创精选集" href="/collect/orinew">原创精选集</a> <a title="求助精选集" href="/collect/helpnew">求助精选集</a> <a title="主题精选集" href="/collect/sub">主题精选集</a> <a title="我的精选集" href="/space/collect/u/2844897" class="lines">我的精选集</a> <a title="我收藏的精选集" href="/space/collect-fav/u/2844897">我收藏的精选集</a> </div>
              </div>
            </li>
            <li class="nh_sys_menu" id="nh_group"><a title="商场" href="/shop" class="cname">商场</a><span><a title="" href="javascript:;" class="show_nhsysMenu">显示菜单</a></span>
              <div style="display: none;" class="nhsys_menu">
                <div class="nhsys_menu_inner"> <a title="小组概览" href="/events#Mevent">音乐专题</a> <a title="热门话题" href="/events#Mperform">演出/活动</a> </div>
              </div>
            </li>
            <li class="nh_sys_menu" id="nh_topic"><a title="小组" href="/group" class="cname">专题</a><span><a title="" href="javascript:;" class="show_nhsysMenu">显示菜单</a></span>
              <div style="display: none;" class="nhsys_menu">
                <div class="nhsys_menu_inner"> <a title="小组概览" href="/events#Mevent">音乐专题</a> <a title="热门话题" href="/events#Mperform">演出/活动</a> </div>
              </div>
            </li>
            <li class="nh_sys_menu" id="nh_software"><a title="软件" href="/software" class="cname">软件</a><span><a title="" href="javascript:;" class="show_nhsysMenu">显示菜单</a></span>
              <div style="display: none;" class="nhsys_menu">
                <div class="nhsys_menu_inner"> <a title="小组概览" href="/software/iphone">手机客户端</a> <a title="热门话题" href="/software/shark">虾歌</a> <a title="热门话题" href="/software/xiamifm">电台插件</a> <a title="热门话题" href="/xbox">百宝箱</a> <a title="虾米电台 Lite" href="/software/xiamiair">虾米电台 Lite</a> </div>
              </div>
            </li>
          </ul>
        </div>

        <div id="n_header_logined">
          <div class="g-login">
            <ul>
              <li class="pmicon "><a title="0条未读站内信" href="/member/mypm">(0)</a></li>
              <li class="narrow">-</li>
              <li class="recent">
                <a id="recent_button" href="/space/charts-recent/u/2844897" onClick="_gaq.push(['_trackEvent', '最近播放', '展开菜单']);">最近浏览</a>
              </li>
            </ul>
            <div id="recent_history" class="r3px hidden">
              <div class="recent_inner"></div>
            </div>
          </div>
        </div>
      </div>
      <!--shine-->
      <div class="nh_shine">&nbsp;</div>
    </div>

    <%= yield %>


    <div id="footer">
      <div class="clearfix" id="foot_wrap">
        <div class="clearfix mgt25" id="foot_content">
          <div class="fl">
            <dl>
              <dt>发现音乐</dt>
              <dd><a title="排行榜" href="http://www.xiami.com/music/hot">排行榜</a></dd>
              <dd><a title="音乐风格/分类" href="http://www.xiami.com/music/style">音乐风格/分类</a></dd>
              <dd><a title="精选集" href="http://www.xiami.com/collect">精选集</a></dd>
              <dd><a title="虾米电台" href="http://www.xiami.com/radio">虾米电台</a></dd>
              <dd><a title="音乐专题" href="http://www.xiami.com/events">音乐专题</a></dd>
            </dl>

            <dl>
              <dt>关于</dt>
              <dd><a title="关于我们" href="http://blog.xiami.com/?page_id=2">关于我们</a></dd>
              <dd><a title="虾米每天在进步" href="http://blog.xiami.com/">虾米每天在进步</a></dd>
              <dd><a title="独立音乐人合作" href="http://www.xiami.com/musician-contact">独立音乐人合作</a></dd>
              <dd><a title="联系我们" href="http://www.xiami.com/contact">联系我们</a></dd>
              <dd><a title="友情链接" href="http://www.xiami.com/links">友情链接</a></dd>
            </dl>

            <dl>
              <dt>特色服务</dt>
              <dd><a title="手机虾米" href="http://www.xiami.com/software/iphone">手机虾米</a><sup class="hot"></sup></dd>
              <dd><a title="虾米播播" href="http://www.xiami.com/widget">虾米播播</a></dd>
              <dd><a title="音乐小游戏" href="http://www.xiami.com/coop/game/id/1">音乐小游戏</a></dd>
              <!---->
              <!--<dd><a href="http://www.xiami.com/music/newalbum">新碟预告</a></dd>-->
              <!--  <dd><a href="/">虾米电台桌面版</a></dd>-->
              <dd><a title="百宝箱" href="http://www.xiami.com/xbox">百宝箱</a></dd>
            </dl>

            <dl>
              <dt>更多</dt>
              <dd><a title="虾米招聘" href="http://www.xiami.com/job">虾米招聘</a></dd>
              <dd><a title="使用帮助" href="http://www.xiami.com/websitehelp">使用帮助</a></dd>
              <dd><a title="RSS订阅" href="http://www.xiami.com/subscription">RSS订阅</a></dd>
              <dd><a title="添加虾米还没有的资料" href="http://www.xiami.com/wiki/addalbum">添加虾米还没有的资料</a></dd>
              <dd><a title="提建议" href="http://www.xiami.com/group/join/id/10147?done=/group/thread-new/id/10147">提建议</a></dd>
            </dl>
          </div>

          <div class="fr" id="cooperation">
            <p class="vam gray labels">合作伙伴： <a href="/partners">
            </p>
            <hr class="null">
          </div>
        </div>

        <div class="footer_copyright">
          <p class="fl vam gray" id="follow_xiami">关注虾米：
            <a href="http://t.sina.com.cn/xiamixiamixiami" title="新浪微博"><i class="social_gray sina"></i></a>
            <a href="http://page.renren.com/699099957/index" title="人人网"><i class="social_gray renren"></i></a>
            <a href="http://new.qzone.qq.com/810167634" title="QQ 空间"><i class="social_gray qzone"></i></a>
            <a href="http://t.qq.com/xiaxiaomi" title="腾讯微博"><i class="social_gray qqt"></i></a>
            <a href="http://t.sohu.com/xiamimusic" title="搜狐微博"><i class="social_gray sohu"></i></a>
            <a href="http://www.douban.com/people/xiaxiaomi" title="豆瓣"><i class="social_gray douban"></i></a>
            <!-- <a href="http://t.163.com/musicxiami" title="网易微博"><i class="social_gray t163"></i></a> -->
          </p>
          <p class="fr" id="copyright"> <span>&copy; 2009 - 2011 <a href="http://www.ohimy.com/">虾米网</a>&nbsp;&nbsp;&nbsp;&nbsp;</span> <a href="http://www.miibeian.gov.cn/" target="_blank" title="渝ICP备10014249号">渝ICP备10014249号</a> - <a href="http://www.xiami.com/sitemap" title="网站地图">网站地图</a> <strong class="xiami_motto ti" title="give music a chance">"give music a chance"</strong> </p>
        </div>
      </div>
    </div> <!-- #foot_wrap -->

    <script>
      $('body').click(function(e){
        $(".ctrl_gears_more").addClass('hidden');
        $(".bt_cdgears").removeClass('active');
      });
      $("#web_loading").remove();
      $(".bt_cdgears").mouseover(function(){$(this).addClass('active').next().removeClass('hidden').show();});
      $('#nh_<%= self.controller_name %>').addClass('current')
    </script>
  </body>
</html>