<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html>
	<!--<![endif]-->
	<head>
		<title>Ohimy</title>
		<%= stylesheet_link_tag 'unlogin','global' %>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
		<%= javascript_include_tag 'unlogin' %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<p class="notice">
			<%= notice %>
		</p>
		<p class="alert">
			<%= alert %>
		</p>
		<div id="wrapper">
			<div id="head_wrap">
				<div id="header" class="clearfix">
					<h1>
					<a rel="home" title="虾米音乐网(xiami.com) - 高品质淘宝 发现 分享" href="/">虾米音乐网(xiami.com) - 高品质音乐 发现 分享</a>
					</h1>
					<form id="search" role="search" method="get" action="/search">
						<input type="text" onclick="searchFocus();" onblur="searchBlur();" title="搜索你感兴趣的东东..." value="搜索你感兴趣的东东..." name="key" id="search_query" autocomplete="off">
						<input type="submit" value="" title="搜索" class="" id="search_btn">
						<input type="hidden" value="1" name="pos">
					</form>
					<div id="auto_complete" class="hidden">
					</div>
					<ul id="top_nav" class="text">
						<li>
							<a title="购物分享" href="/gall">购物分享</a>
						</li>
						<li>
							<a title="精选集" href="/collect">精选集</a>
						</li>
						<li>
							<a title="虾米电台" href="/radio">虾米电台</a>
						</li>
					</ul>
					<ul id="top_member" class="text">
						<% if user_signed_in? %>
						<li>
							<%= current_user[:name] %>
						</li>
						<% else %>
						<li>
							<%= link_to "免费注册", new_user_registration_path, :id=>"top_reg", :class=>"ti" %>
						</li>
						<li>
							<span>|</span>
						</li>
						<li>
							<%= link_to "请登录", new_user_session_path, :id=>"top_login", :class=>"ti" %>
						</li>
						<% end %>
					</ul>
					<div id="login_popup" class="hidden">

						<div id="login_form">
							<%= form_for(:user, :url => new_user_session_path) do |form| %>
							<p class="textbox">
								<%= form.label :name, "会员名" %>
								<%= form.text_field :name, :tabindex=>"1", :title=>"会员名", :class=>"noime txt_input r3px" %>
							</p>
							<p class="textbox">
								<span class="fr">
									<a class="minor" href="/member/getpassword">忘记密码</a>
								</span>
								<%= form.label :password, "密码" %>
								<%= form.password_field :password, :tabindex=>"2", :title=>"密码", :class=>"txt_input r3px" %>
							</p>
							<p class="remember clearfix">
								<input type="submit" class="fr text blue_btn blue_btn2 r3px f14" tabindex="3" value="登 录" onfocus="this.blur();" id="log_submit" name="submit">
								<%= form.check_box :remember_me, :tabindex => "4" %>
								<%= form.label :remember_me, "记住我",:class=>"minor" %>
							</p>
							<% end %>
							<hr class="d">
						</div>
						<a id="login_more" class="r3px" href="/member/login">
						使用人人网,新浪等账号登录
						<span>+</span>
						</a>
					</div>
				</div>
			</div>
			<%= yield %>
		</div>
		<div id="footer" class="unlogin">
			<div id="foot_wrap" class="clearfix">
				<div id="foot_content" class="clearfix mgt25">
					<div class="fl">
						<dl>
							<dt>
								发现音乐
							</dt>
							<dd>
								<a title="排行榜" href="http://www.xiami.com/music/hot">排行榜</a>
							</dd>
							<dd>
								<a title="音乐风格/分类" href="http://www.xiami.com/music/style">音乐风格/分类</a>
							</dd>
							<dd>
								<a title="精选集" href="http://www.xiami.com/collect">精选集</a>
							</dd>
							<dd>
								<a title="虾米电台" href="http://www.xiami.com/radio">虾米电台</a>
							</dd>
							<dd>
								<a title="音乐专题" href="http://www.xiami.com/events">音乐专题</a>
							</dd>
						</dl>
						<dl>
							<dt>
								关于
							</dt>
							<dd>
								<a title="关于我们" href="http://blog.xiami.com/?page_id=2">关于我们</a>
							</dd>
							<dd>
								<a title="虾米每天在进步" href="http://blog.xiami.com/">虾米每天在进步</a>
							</dd>
							<dd>
								<a title="独立音乐人合作"
								href="http://www.xiami.com/musician-contact">独立音乐人合作</a>
							</dd>
							<dd>
								<a title="联系我们" href="http://www.xiami.com/contact">联系我们</a>
							</dd>
							<dd>
								<a title="友情链接" href="http://www.xiami.com/links">友情链接</a>
							</dd>
						</dl>
						<dl>
							<dt>
								特色服务
							</dt>
							<dd>
								<a title="手机虾米" href="http://www.xiami.com/software/iphone">手机虾米</a>
								<sup
								class="hot">
								</sup>
							</dd>
							<dd>
								<a title="虾米播播" href="http://www.xiami.com/widget">虾米播播</a>
							</dd>
							<dd>
								<a title="音乐小游戏" href="http://www.xiami.com/coop/game/id/1">音乐小游戏</a>
							</dd>
							<!--<dd><a title="虾米软件" href="http://www.xiami.com/xnews">虾米小报</a></dd>-->
							<!--<dd><a href="http://www.xiami.com/music/newalbum">新碟预告</a></dd>-->
							<!--<dd><a href="/">虾米电台桌面版</a></dd>-->
							<dd>
								<a title="百宝箱" href="http://www.xiami.com/xbox">百宝箱</a>
							</dd>
						</dl>
						<dl>
							<dt>
								更多
							</dt>
							<dd>
								<a title="虾米招聘" href="http://www.xiami.com/job">虾米招聘</a>
							</dd>
							<dd>
								<a title="使用帮助" href="http://www.xiami.com/websitehelp">使用帮助</a>
							</dd>
							<dd>
								<a title="RSS订阅" href="http://www.xiami.com/subscription">RSS订阅</a>
							</dd>
							<dd>
								<a title="添加虾米还没有的资料"
								href="http://www.xiami.com/wiki/addalbum">添加虾米还没有的资料</a>
							</dd>
							<dd>
								<a title="提建议"
								href="http://www.xiami.com/group/join/id/10147?done=/group/thread-new/id/10147">提建议</a>
							</dd>
						</dl>
					</div>
					<div id="cooperation" class="fr">
						<p class="vam gray labels">
							合作伙伴：
							<a
							href="http://www.xiami.com/partners">
							<img title="摩登天空" width="40"
							height="40" alt="摩登天空"
							src="../others/mdtk.gif">
							<img
							title="十三月" width="40" height="40" alt="十三月"
							src="../others/13y.gif">
							<img
							title="华研国际" width="40" height="40" alt="华研国际"
							src="../others/him.png">
							<img
							title="海蝶音乐" width="40" height="40" alt="海蝶音乐"
							src="../others/obi.gif">
							<img
							title="映象唱片" width="40" height="40" alt="映象唱片"
							src="../others/HighNOTE.jpg">
							<img
							title="飞鱼音乐" width="40" height="40" alt="飞鱼音乐"
							src="../others/fyyy.gif">
							<img
							title="华纳版权中国" width="40" height="40" alt="华纳版权中国"
							src="../others/warner.jpg">
							</a>
						</p>
						<hr class="null">
						<p class="vam gray">
							正版音乐战略合作：
							<a title="巨鲸音乐网" target="_blank"
							href="http://www.top100.cn/">
							<img width="88" height="29"
							alt="巨鲸音乐网" src="../others/top100-logo.gif">
							</a>
						</p>
					</div>
				</div>
				<div class="footer_flinks">
					友情链接：
					<a href="http://hao.qq.com/"
					title="QQ网址导航" target="_blank">QQ网址导航</a>
					<a
					href="http://www.yinyuetai.com/" title="音悦台MV" target="_blank">音悦台MV</a>
				</div>
				<div class="footer_copyright">
					<p class="fl vam gray" id="follow_xiami">
						关注虾米：
						<a
						href="http://t.sina.com.cn/xiamixiamixiami" title="新浪微博">
						<i
						class="social_gray sina"></i>
						</a>
						<a
						href="http://page.renren.com/699099957/index" title="人人网">
						<i
						class="social_gray renren"></i>
						</a>
						<a
						href="http://new.qzone.qq.com/810167634" title="QQ 空间">
						<i
						class="social_gray qzone"></i>
						</a>
						<a href="http://t.qq.com/xiaxiaomi"
						title="腾讯微博">
						<i class="social_gray qqt"></i>
						</a>
						<a
						href="http://t.sohu.com/xiamimusic" title="搜狐微博">
						<i
						class="social_gray sohu"></i>
						</a>
						<a
						href="http://www.douban.com/people/xiaxiaomi" title="豆瓣">
						<i
						class="social_gray douban"></i>
						</a> <!-- <a href="http://t.163.com/musicxiami" title="网易微博"><i class="social_gray t163"></i></a> -->
					</p>
					<p id="copyright" class="fr">
						<span>
							© 2007 - 2011
							<a
							href="../others/虾米音乐网(xiami.com) - 高品质在线音乐网站.htm">虾米网</a>&nbsp;&nbsp;&nbsp;&nbsp;文网文[2011]0012-005&nbsp;&nbsp;&nbsp;&nbsp;
						</span>
						<a title="浙ICP备08103200号" target="_blank"
						href="http://www.miibeian.gov.cn/">浙ICP备08103200号</a> -
						<a title="网站地图"
						href="http://www.xiami.com/sitemap">网站地图</a>
						<strong
						title="give music a chance" class="xiami_motto ti">"give music
						a chance"</strong>
					</p>
				</div>
			</div>
			<!-- #foot_wrap -->
		</div>
		<!--[if IE 6]>
		<script src="http://st.xiami.com/res/v3/js/DD_belatedPNG.js"></script>
		<script>DD_belatedPNG.fix('.png, .play');</script>
		<![endif]-->
	</body>
</html>
